.mint-popup {
    position: absolute;
    top:100%;
    width: 40vw;
    height: 40vh;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: rgb(13, 13, 13);
    color: #1dbf73;
    padding: 20px;
    border: 5px solid #1dbf73;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .popup-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;
  }

.mint-paragraph{
    color: #1dbf73;
    font-size: 14px;
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 14px;
    text-align: center;

  }
  .mint-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #43c1f3;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
  }
  .mint-a{
    color: #1dbf73;
    font-size: 18px;
    padding-left: 20px;
  }
  .mint-close-btn {
    position: relative;
    right: 10px;
    color: #6b2525;
    background: none;
    border: none;
    margin-top: 100px;
    font-size: 18px;
    cursor: pointer;
  }
